.myHoverClass {
	background-color: #3399FF;
	color: #fff;
}

div#statusMessage {
	width: 300px;
	background-color: #CCCCCC;
	padding: 2px;
	position: absolute;
	left: 500px;
	top: 10px;
	z-index: 1;
}

#alphabetList {
	margin: 0;
	padding-left: 0;
	width: 100%;
}

#alphabetList li {
	margin: 2px;
	border: 1px solid #000;
	list-style: none;
	background-color: #dcdcdc;
	float: left;
}

#alphabetList a {
	width: 30px;
	padding: 1px 10px 1px 10px;
	text-decoration: none;
}

#alphabetList a:link, #alphabetList a:active, #alphabetList a:visited {
	color: #000000;
}

#alphabetList a:hover {
	background-color: #333333;
	color: #ffffff;
}

#alphabetList .selectedLetter {
	color: #fff;
	background-color: #000000;
	padding: 0px 10px 0px 10px;
}

.selectedField {
	border: 1px solid #ff0000;
	background-color: #ffff99;
}

body, td  {
	font-family: "Trebuchet MS", verdana, arial, sans-serif; 
	font-size:13px;
}

#banner {
	font-size:30px;
}

#footer {
	font-size: 10pt;
	color: #999;	
	text-align: center;
	clear: both;
}

#movieBanner {
	font-size: 20px;
}

.list {
	border: 1px solid #000;
	width:100%;
}

.list thead th {
	text-align:left;
	padding:2px;
}

.list tbody td {
	padding:2px;
	vertical-align:top;
	border: 1px solid #000;
}

.list .even {
	background: #f4f4f4;
}

.list tfoot td {
	padding: 2px;
}

.edit {
	border: 1px Solid #d7d7d7;
	background: #f4f4f4;
	margin: 0px;
	padding: 10px;
}

.edit fieldset {
	border: 0px;
}

.edit .formfield {
	padding-top: 10px;
}

.edit label {
	width: 100px;
	text-align: right;
	padding: 0px 5px 0px 0px;
	clear: both;
	float: left;
}

.error {
	color: #f00;
}

.disabled {
	color: #999;
}

.description {
	color: #999;
	font-size: 11px;	
}
.edit .error {
}

.edit .error ul {
	margin: 0px 0px 0px 255px;;
	padding: 0px;
	list-style: none;
}

.edit .error ul li {
}

.edit .formfield {
	clear:both;
}

.edit .formfieldinputstack {
	float: left;
	padding: 0px 0px 10px 0px;
}

.edit .formfieldinputstack label {
	float: none;
	width: auto;	
}

.edit .input {
	width: 40%;
}

.edit .controls {
	clear:both;
	padding:10px 0px 0px 255px;
}